<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.netfx40.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="FallbackGroup" name="fallbackGroup" returnToFirstOnSuccess="true">
      <target xsi:type="Database"
              connectionStringName="DefaultConnection"
              name="databaseTarget"
              commandText="INSERT INTO ErrorLog(ErrorDateTime, MachineName, [Identity], LoggerName, Message, Exception) VALUES(@ErrorDateTime, @MachineName, @Identity, @LoggerName, @Message, @Exception)">
        <parameter name="@ErrorDateTime" layout="${date}" />
        <parameter name="@MachineName" layout="${machinename}" />
        <parameter name="@Identity" layout="${identity}" />
        <parameter name="@LoggerName" layout="${logger}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@Exception" layout="${exception:format=tostring}" />
      </target>
      <target xsi:type="EventLog" layout="${machinename}|${identity}|${logger}|${exception:format=tostring}" />

      <!--<target name="file" xsi:type="File"
					 layout="${longdate} ${message}"
					 fileName="c:\log\sql.txt"
					 keepFileOpen="false"
					 encoding="iso-8859-2" />-->

    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Error" writeTo="fallbackGroup" />
  </rules>
</nlog>
