<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=EXCELRAWS800\SQL2016;Initial Catalog=ProjectAllocation;User ID = sa;Password = sa@123;" />
  </connectionStrings>
</configuration>